.bg-white {
  background: $white;
  color: $black;
}
.bg-black {
  background: $black;
  color: $white;
}

.sg-green {
  color: $sg-green;
}

.sg-cream {
  color: $sg-cream;
}

.sg-tan {
  color: $sg-tan;
}