@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css?family=Prata&display=swap');
@import url('https://fonts.googleapis.com/css?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css?family=Vollkorn+SC&display=swap');

.raleway {
    font-family: 'Raleway', sans-serif;
}

.prata {
    font-family: 'Prata', serif;
}

.p-marker {
    font-family: 'Permanent Marker', cursive;
}

.vollkorn {
    font-family: 'Vollkorn SC', serif;
}
